 <ul class="list-group me-3" style="min-width:200px">
    <h6>Categories</h6>
    <li class="list-group-item">Apparel &amp;
        Accessories</li>
    <li class="list-group-item">Baby
        Products</li>
    <li class="list-group-item">Beauty &amp;
        Health</li>
    <li class="list-group-item">Electronics</li>
    <li class="list-group-item">Furniture</li>
    <li class="list-group-item">Home &amp;
        Garden</li>
    <li class="list-group-item">Luggage
        &amp; Bags</li>
    <li class="list-group-item">Sports &amp;
        Entertainment</li>
    <li class="list-group-item">Watches</li>
</ul>
