 <header>
            <nav class="navbar navbar-expand-lg bg-black text-white px-3">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" href="#">Bootstrap Store</a>
                    <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle text-white" href="#"
                                    role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Categories
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="#">Apparel &amp;
                                            Accessories</a></li>

                                    <li><a class="dropdown-item"
                                            href="category.html">Baby
                                            Products</a></li>
                                    <li><a class="dropdown-item"
                                            href="category.html">Beauty &amp;
                                            Health</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="category.html">Electronics</a></li>
                                    <li><a class="dropdown-item"
                                            class="dropdown-item"
                                            href="category.html">Furniture</a></li>
                                    <li><a class="dropdown-item"
                                            href="category.html">Home &amp;
                                            Garden</a></li>
                                    <li><a class="dropdown-item"
                                            href="category.html">Luggage
                                            &amp; Bags</a></li>
                                    <li><a class="dropdown-item"
                                            href="category.html">Shoes</a></li>
                                    <li><a class="dropdown-item"
                                            href="category.html">Sports &amp;
                                            Entertainment</a></li>
                                    <li><a class="dropdown-item"
                                            href="category.html">Watches</a></li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item"
                                            href="#">All Categories</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Link</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link text-white "
                                    aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                        <ul class="d-flex h-100 mb-0 align-items-center gap-4 list-unstyled"">
                            <li class=""><a><i class="bi bi-cart4"></i></a></li>
                            <li><a><i class="bi bi-person-fill"></i></a></li>
                            <li><a>Sign in</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>